.App {
	text-align: center;
	margin: 0;
	padding: 0;
}

.header-wrapper {
	height: 56px;
	width: 100%;
	background-color: #212529;
	color: white;
	display: flex;
	align-items: center;
	font-size: 16px;
	justify-content: space-around;
}

.btn-container {
	margin-right: 0.7em;
	margin-left: 50vw;
}

.dropdown-btn {
	color: white;
	background-color: #fec503;
	border-radius: 5px;
	font-size: 16px;
	padding: 0.3em 0.8em;
}

.logo {
	width: 150px;
	color: #fec503;
	margin-left: 0.5em;
}

.desktop-nav {
	display: none;
}

.dropdown-menu {
	height: 250px;
	width: 100%;
	position: fixed;
	top: 56px;
	background-color: #444445;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 3.2em;
	text-align: left;
}

.dropdown-menu span:hover {
	color: #fec503;
	cursor: pointer;
}

.body-component {
	height: calc(100vh - 125px);
	background-color: white;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

@media (min-width: 992px) {
	.logo {
		width: 200px;
	}

	.dropdown-btn,
	.btn-container {
		display: none;
	}

	.dropdown-menu {
		display: none;
	}

	.desktop-nav {
		width: 50%;
		display: flex;
		justify-content: space-around;
		background-color: transparent;
	}
	.desktop-nav span {
		margin: 0 10px;
	}
	.desktop-nav span:hover {
		color: #fec503;
		cursor: pointer;
	}

	.col-layouts {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-gap: 8em;
		align-items: center;
		margin: 2em 5em;
	}
}
